@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
  font-family: 'Caveat', cursive;
  background: #242526;
}
h1 {
  color: yellow;
}
.words {
  font-size: 1rem;
  color: green;
}
.container {
  /* width: 100;
  height: 800; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .textArea textarea {
  width: 600px;
  height: 300px;
  padding: 10px;
  font-size: 1rem;
  background: #06402b;
  color: white;
}
